@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #252525;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    position: fixed;
    top: 0;
}

.logo svg {
    width: 120px;
}

h1 {
    font-size: 3rem;
}

h1:first-letter {
    text-transform: uppercase;
}

button {
    background: #FCA868;
    border-radius: 20em;
    padding: 1em 4em;
    border: 0;
    outline: 0;
    font-size: 1.2em;
    position: fixed;
    bottom: 40px;
    font-weight: bold;
    color: #252525;
    cursor: pointer;
    font-weight: 600;
}