@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #252525;
    opacity: 1;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(45deg, #282828 0, #282828 1px, #252525 0, #252525 50%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
    gap: 2em;
}


.logo {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    align-items: center;
}

.logo svg {
    width: 120px;
}

.word-container {
    background: #2a2a2a;
    margin: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}

h1#name {
    margin:0;
    margin-bottom: -50px;
    text-transform: uppercase;
    z-index: 2;
    background: rgba(0,0,0,.4);
    color: #FCA868;
    padding: 5px 25px;
    border-radius: 5px;
}

h1 {
    font-size: 2rem;
    cursor: pointer;
}

h1:first-letter {
    text-transform: uppercase;
}

.voice-changer {
    display: none;
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.voice-changer.active {
    position: absolute;
    top: 90px;
    display: block;
    width: 70vw;
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
            animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.option {
    display: flex;
    flex-direction: column;
}

button.btn-generate {
    font-family: 'Poppins', sans-serif;
    line-height: 0;
    background: #FCA868;
    border-radius: 20em;
    padding: 10px 0px;
    border: 0;
    outline: 0;
    font-size: 2.2em;
    position: fixed;
    bottom: 40px;
    color: #252525;
    cursor: pointer;
    width: 70vw;
}

button.btn-generate i {
    padding-top: 5px;
}

button.btn-voice {
    border: 0;
    font-size: 1.5em;
    background: transparent;
    color: white;
}

.combos {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: .6rem;
    color: #727272;
}

.btn-voice i {
    padding: 0;
    margin: 0;
}


.copied {
    background: #fca868;
    padding: 5px 15px;
    border-radius: 10px;
    color: black;
    font-size: 12px;
    margin: 0;
    font-weight: 600;
}

.copied-container {
    opacity: 0;
    height: 0;
}
.copied-container.active {
    display: block;
    opacity: 1;
    position: absolute;
    top: -50px;
    right: 20px;
    animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@media screen and (min-width: 600px) {
    button.btn-generate { width: 200px; bottom: 20vh; }
    h1 { font-size: 4em; }
    .word-container { max-width: 800px; border-radius: 20px; }
    .logo { max-width: 800px; }
    .voice-changer.active { max-width: 800px; }
}